@model Category
<div class="category col-sm-6 col-md-6 col-lg-6">        
    <a asp-controller="Product"
        asp-action="List"
        asp-route-category="@Model.CategoryName">
        <img alt="@Model.CategoryName" src="@Model.CategoryImage">
    </a>
    <h4>
        <a asp-controller="Product"
           asp-action="List"
           asp-route-category="@Model.CategoryName">
            @Model.CategoryName
        </a>
    </h4>

</div>