@model Product
    <div class="col-sm-6 col-lg-6 col-md-6">
        <div class="thumbnail">
            <img src="@Model.Image" alt="@Model.Name">
            <h4 class="pull-right">@Model.Price.ToString("c0", CultureInfo.CreateSpecificCulture("uk-UA"))</h4>
            <div class="caption">
                <h4>
                    <a asp-controller="Product"
                       asp-action="Details"
                       asp-route-id="@Model.ProductId">@Model.Name</a>
                </h4>
                <p>@Model.Description</p>
            </div>
            <div class="addToCart">
                <p class="button">
                    <a class="btn btn-primary"
                       asp-controller="ShoppingCart"
                       asp-action="AddToShoppingCart"
                       asp-route-productId="@Model.ProductId">Add to cart</a>
                </p>
            </div>
        </div>
    </div>